h1 {
  text-align: center;
  font-family: finger paint;
  font-size: 50px;
  color: rgb(0, 0, 8);
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 35px;
}
#search-button {
  margin-right: 20px;
  background-color: rgb(10, 18, 227);

}
#search-button:hover {
  background-color: yellow;
  color : black
}

#random-button:hover {
  background-color: yellow;
  color : black
}

button {
  padding: 10px 10px 10px 10px;
  color:ghostwhite;
  font-family: sans-serif;
  font-size: 16px;
    letter-spacing: 2px;
    border-radius: 12px
}


#random-button {
  background-color: rgb(242, 45, 45);
    
}

.search-form {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.search-input {
  font-size: 16px;
  margin-right: 20px;
  height: 40px;
     width: 200px;
     border-radius: 12px
}

body {
  background-color: rgb(11, 207, 233);
}

section {
  width: 100%;
  height: 100%;
  display: flex;
background-color: azure;
flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.info {
  position: absolute;
  right: 100;
  right: 100px;
}

.imageTag {
  width: 600px;
  height: 600px;
  position: relative;
    right: 200px
}

.artist-name {
  position: relative;
    right: 200px;
}